setuptools>=70.0
fastapi==0.115.0
uvicorn[standard]==0.32.0
numpy==2.1.0
torch>=2.3.1
onnxruntime>=1.18.0
rasterio>=1.3.9
pydantic==2.9.2
gunicorn==22.0.0
slowapi==0.1.9
Pillow>=11.0.0
requests==2.32.3
pytest==8.3.3
httpx==0.27.2
astropy==6.1.3
